li > * {
    margin-right: .5rem;
}
.title {
    font-size: var(--titleFontSize-3);
    padding: 1rem;
}
.content > li {
    margin: 2rem;
}
.hostingList {
    margin: 1rem;
    /*border: 1px dashed greenyellow;*/
}
.hostingList > li {
    margin: 0.5rem 2rem;
}
.sub {
    color: var(--subFontColor);
}