li > * {
    margin-right: .5rem;
}
.container {
    /*border: 1px dashed tomato;*/
}
.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 3rem;
}
.title {
    font-size: var(--titleFontSize-3);
    padding: 1rem;
}
.content {
    border-top: 2px solid var(--subFontColor);
}
.content > li {
    margin: 2rem;
}
.hostingList {
    margin: 1rem;
    /*border: 1px dashed greenyellow;*/
}
.hostingList > li {
    margin: 0.5rem 2rem;
}
.sub {
    color: var(--subFontColor);
}