.messageContainer {
    background-color: #faf8f8;
    padding: 2rem 8rem;
    border-radius: 20px;
}
.messageContainer > * {
    margin: 1rem;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.notice {
    color: var(--primaryColor-hover);
    font-size: var(--subFontSize-1);
}