.categoryWrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.category {
    display: flex;
    align-items: center;
}
.category > span {
    flex: 1;
    font-size: var(--subFontSize-2);
    color: var(--subFontColor)
}
.category > select {
    flex: 5;
}
.category > select {
    border: 1px solid var(--disabledColor-100);
    padding: .35rem 1rem;
    height: 2rem;
    border-radius: 5px;
}
.warning {
    border: 1px solid #fff;
    background-color: #fdfd7d;
}
.prohibited {
    border: 2px solid #fff;
    background-color: #ff6464;
}