:root {
    /* FONT */
    --titleFontSize-1: 2.5rem;
    --titleFontSize-2: 2rem;
    --titleFontSize-3: 1.5rem;

    --subFontSize-1: .85rem;
    --subFontSize-2: .75rem;

    /* COLOR */
    --primaryColor: #0c4cf6;
    --primaryColor-sub: #a6bcf8;
    --primaryColor-hover: #067ffa;
    --subFontColor: #868484;

    --disabledColor-100: #dad8d8;
    --disabledColor-200: #b2b2b2;
    --disabledColor-300: #939292;
    --disabledColor-400: #6e6d6d;
    --disabledColor-500: #4f4e4e;
    --disabledColor-600: #313131;

    --confirmColor: #366dfd;
    --warningColor: #f83c3c;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
button {
    cursor: pointer;
}
input[type="text"],
input[type="password"]{
    appearance: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}