:root {
    /* FONT */
    --titleFontSize-1: 2.5rem;
    --titleFontSize-2: 2rem;
    --titleFontSize-3: 1.5rem;

    --subFontSize-1: .75rem;

    /* COLOR */
    --primaryColor: #0c4cf6;
    --primaryColor-sub: #a6bcf8;
    --primaryColor-hover: #067ffa;
    --subFontColor: #868484;
    --disabledColor: #dad8d8;
    --confirmColor: #366dfd;
    --warningColor: #f83c3c;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
input[type="text"],
input[type="password"]{
    appearance: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}